<launch>
  <!-- PID gains -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/pids.yaml" />

  <!-- Controllers -->
  <include file="$(find reemc_controller_configuration)/launch/default_controllers.launch" />

  <!-- Walking controller -->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_walking_controller.launch"/>


  <!-- Legs -->
<!--   <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_lower_body_controllers.yaml" /> -->

  <!-- Arms -->
<!--   <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_arm_controllers.yaml" /> -->

  <!-- Hands -->
<!--   <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_hand_controllers.yaml" /> -->

  <!-- Head -->
<!--   <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_head_controllers.yaml" /> -->

  <!-- Point head action -->
<!--   <include file="$(find reemc_controller_configuration_gazebo)/launch/point_head_action.launch" /> -->
</launch>
