<launch>
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/squat_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="squat_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="squat_controller" />
</launch>
