<launch>

  <!-- Gazebo backend for PAL motors controller -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_lower_position_upper_action_controllers.yaml" />


  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated lower_body_controller upper_body_controller" />



</launch>
