<launch>

  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <arg name="planner" default="base"/>
  <arg name="localization" default="amcl"/>
  <arg name="odometry" default="controller"/>
  <arg name="world" default="small_office"/>
  <arg name="robot" default="full"/>
  <arg name="gzname" default="gazebo"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="fuerte" default="true"/>

  <group ns="reemc_sim">

    <include file="$(find reemc_2dnav)/launch/navigation.launch">
      <arg name="planner" value="$(arg planner)" />
      <arg name="localization" value="$(arg localization)" />
      <arg name="odometry" value="$(arg odometry)" />
      <arg name="map" value="$(find reemc_gazebo_2dnav)/maps/map.yaml" />
    </include>

    <include file="$(find reemc_gazebo)/launch/reemc_gazebo.launch">
      <arg name="world" value="$(arg world)" />
      <arg name="robot" value="$(arg robot)" />
      <arg name="gzname" value="$(arg gzname)" />
      <arg name="gzpose" value="$(arg gzpose)" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reemc_gazebo_2dnav)/config/reemc_navigation_$(arg planner).vcg" if="$(arg fuerte)"/>
    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find reemc_gazebo_2dnav)/config/reemc_navigation_$(arg planner).rviz" unless="$(arg fuerte)"/-->
    <node name="rviz" pkg="rviz" type="rviz" unless="$(arg fuerte)"/>

    <!-- mode switch madness -->
    <include file="$(find reemc_macro_states)/launch/mode_switch.launch" />
    <include file="$(find reemc_macro_states)/launch/control_source_switch.launch" />
  </group>
</launch>
