<launch>
  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <arg name="namespace" default="reemc_sim"/>

  <arg name="mapping"  default="gmapping"/>
  <arg name="odometry" default="controller"/>

  <arg name="world"  default="small_office"/>
  <arg name="robot"  default="full"/>
  <arg name="gzname" default="gazebo"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="open_rviz" default="false"/>

  <group ns="$(arg namespace)">

    <include file="$(find reemc_2dnav)/launch/mapping.launch">
      <arg name="mapping" value="$(arg mapping)"/>
      <arg name="odometry" value="$(arg odometry)"/>
    </include>

    <include file="$(find reemc_gazebo)/launch/reemc_gazebo.launch">
      <arg name="world" value="$(arg world)"/>
      <arg name="robot" value="$(arg robot)"/>
      <arg name="gzname" value="$(arg gzname)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
    </include>

    <include file="$(find reemc_controller_configuration)/launch/walking_controller.launch"/>

    <!-- open rviz -->
    <include if="$(arg open_rviz)" file="$(find reemc_2dnav)/launch/rviz_mapping.launch"/>

    <!-- mode switch madness -->
    <include file="$(find reemc_macro_states)/launch/mode_switch.launch"/>
    <include file="$(find reemc_macro_states)/launch/control_source_switch.launch">
      <arg name="joy_out" value="walking_controller/cmd_vel"/>
    </include>

  </group>
</launch>
