<?xml version="1.0" encoding="UTF-8"?>

<!--
Usage:
roslaunch reemc_gazebo_2dnav reemc_mapping.launch
Rotate the robot manually in gazebo and walk with (set the desired #steps):
roslaunch walking walk.launch nsteps:=4
-->
<launch>
  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <include file="$(find reemc_gazebo)/launch/reemc_gazebo.launch"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reemc_gazebo_2dnav)/config/reemc.vcg"/>

  <!-- Provide odometry from walking controller -->
  <node name="odom_publisher" pkg="walking" type="odom_publisher"/>
  <!-- Filter foot scans and provide /scan -->
  <node name="foot_laser_filter" pkg="walking" type="foot_laser_filter"/>

  <!-- Mapping (with gmapping) -->
  <include file="$(find pal_gmapping)/launch/gmapping.launch"/>
</launch>
