<launch>

  <!-- XXX: there is a problem in gazebo (??) where one (or more) of the services looks
       for something in the root of the tree. Namespacing does not work... -->
  <arg name="namespace" default="/"/>
  <!--arg name="namespace" default="reemc_sim"/-->

  <arg name="planner"       default="base"/>
  <arg name="local_planner" default="pal"/>
  <arg name="localization"  default="amcl"/>
  <arg name="odometry"      default="controller"/>

  <arg name="world"  default="small_office"/>
  <arg name="robot"  default="full"/>

  <arg name="rviz" default="false"/>
  <arg name="gzclient" default="true"/>

  <group ns="$(arg namespace)">

    <include file="$(find reemc_2dnav)/launch/navigation.launch">
      <arg name="planner" value="$(arg planner)"/>
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="localization" value="$(arg localization)"/>
      <arg name="odometry" value="$(arg odometry)"/>
    </include>

    <include file="$(find reemc_gazebo)/launch/reemc_gazebo.launch">
      <arg name="world" value="$(arg world)"/>
      <arg name="robot" value="$(arg robot)"/>
      <arg name="gui" value="$(arg gzclient)"/>
    </include>

    <include file="$(find reemc_controller_configuration)/launch/walking_controller.launch"/>

    <include if="$(arg rviz)" file="$(find reemc_2dnav)/launch/rviz_navigation.launch">
      <arg name="planner" value="$(arg planner)"/>
      <arg name="local_planner" value="$(arg local_planner)"/>
    </include>

    <!-- mode switch madness -->
    <include file="$(find reemc_macro_states)/launch/mode_switch.launch"/>
    <include file="$(find reemc_macro_states)/launch/control_source_switch.launch">
      <arg name="joy_out" value="walking_controller/cmd_vel"/>
    </include>

  </group>
</launch>
