<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="robot"/>

  <include file="$(find footstep_planner)/launch/initialpose_corrector.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
    <remap from="base_pose_ground_truth" to="ground_truth_odom"/>
    <remap from="initialpose" to="initialpose_corrected"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="delta_x" value="0.0"/>
    <param name="delta_y" value="0.0"/>
    <param name="delta_yaw" value="0.0"/>
    <param name="global_frame_id" value="/map"/>
    <param name="base_frame_id" value="/base_link"/>
    <!--param name="base_frame_id" value="/left_sole_link"/-->
  </node>
</launch>

