<launch>

  <param name="joint_gui_body_description" command="$(find xacro)/xacro.py '$(find reemc_description)/robots/reemc.urdf.xacro'" />

  <node name="reemc_joints_gui" pkg="reemc_joints" type="pal_joint_state_publisher" output="screen">
    <param name="use_gui" value="true"/>
    <param name="robot_description_param" value="joint_gui_body_description"/>
    <remap from="/joint_states" to="/joints_goal"/>
  </node>
</launch>
