<launch>

  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <arg name="planner" default="base"/>
  <arg name="localization" default="amcl"/>
  <arg name="odometry" default="controller"/>
  <arg name="world" default="small_office"/>
  <arg name="robot" default="lower_body"/>

  <group ns="reemc">
      <include file="$(find reemc_gazebo)/launch/reemc_gazebo.launch">
      <arg name="world" value="$(arg world)" />
      <arg name="robot" value="$(arg robot)" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reemc_gazebo)/config/reemc_navigation_base.vcg"/>

    <!-- Provide odometry from walking controller -->
    <include file="$(find reemc_gazebo)/launch/reemc_odometry.launch">
      <arg name="odometry" value="$(arg odometry)"/>
    </include>

    <!-- Filter foot scans and provide /scan -->
    <node name="foot_laser_filter" pkg="walking" type="foot_laser_filter"/>

    <!-- Map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find reemc_gazebo)/maps/map.yaml"/>

    <!-- Localization -->
    <include file="$(find reemc_gazebo)/launch/reemc_localization.launch">
      <arg name="localization" value="$(arg localization)"/>
    </include>

    <include file="$(find reemc_gazebo)/launch/reemc_navigation_$(arg planner).launch" />

    <!-- mode switch madness -->
    <include file="$(find reemc_macro_states)/launch/mode_switch.launch" />
    <include file="$(find reemc_macro_states)/launch/control_source_switch.launch" />
  </group>
</launch>
