<launch>
  <!-- PID gains -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/pids.yaml" />

  <group ns="walking_controller">
    <param name="loop_counter_factor" value="10" />
    <param name="z_lipm" value="0.7" />
  </group>

  <!-- Controller configuration -->
  <include file="$(find reemc_controller_configuration)/launch/default_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
</launch>
