<launch>

 <!-- Robot Description -->
  <include file="$(find reemc_description)/robots/upload_reemc_foot.launch" />

  <!-- Push robot_description to factory and spawn robot in Gazebo -->
  <arg name="gzpose"  default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gzmodel" default="reemc_foot/reemc_foot.sdf"/>
  <node name="gzfactory" pkg="pal_gazebo_plugins" type="run_gzfactory" args="spawn -f $(find reemc_gazebo)/models/$(arg gzmodel) $(arg gzpose)" output="screen" />

</launch>
