<launch>

  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <arg name="planner" default="base"/>

  <group ns="reemc">
    <include file="$(find reemc_gazebo)/launch/reemc_navigation_$(arg planner).launch" />

    <include file="$(find reemc_macro_states)/launch/mode_switch.launch" />
    <include file="$(find reemc_macro_states)/launch/control_source_switch.launch" />
  </group>
</launch>
