<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the ReemC -->
  <include file="$(find reemc_gazebo)/launch/reemc_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find reemc_gazebo)/launch/reemc_bringup.launch"/>

  <!-- DRCSIM Controllers for lower and uppper body-->
<!--  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_drcsim_controllers.launch" /> -->

  <!-- PAL Controllers for lower and uppper body-->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_action_controllers.launch" />

  <!-- PR2 Controllers for hands-->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_hands_controllers.launch" />

  <!-- joint state publisher for moving the robot joints -->
  <include file="$(find reemc_gazebo)/launch/joint_state.launch"/>

  <!-- node that sends commands to the joints controller -->
  <node name="move_joints_node" pkg="reemc_joints" type="move_joints"/>

</launch>
