<launch>
  <arg name="robot"  default="full_ft_hey5"/>
  <arg name="gzpose" default="-x 0 -y 0 -z 0.85 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- Pal hardware gazebo parameters -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/reemc_pal_hardware_gazebo.yaml"/>

  <!-- PID gains -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/pids.yaml"/>

  <!-- Walking controller parameters -->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/load_walking_params.launch"/>

  <!-- Joint trajectory controllers -->
  <rosparam command="load" file="$(find reemc_controller_configuration_gazebo)/config/joint_trajectory_controllers.yaml"/>
  <rosparam command="load"
            file="$(find reemc_controller_configuration_gazebo)/config/hand_$(arg robot)_controllers.yaml" />

  <!-- Joystick controller parameters -->
  <rosparam file="$(find reemc_gazebo)/config/joy_teleop_sim.yaml" command="load"/>

  <!-- Robot model -->
  <include file="$(find reemc_description)/robots/upload_reemc.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model reemc_$(arg robot)" />

</launch>
