<?xml version="1.0" encoding="UTF-8"?>

<!--
Usage:
roslaunch reemc_gazebo reemc_odometry odometry:=controller
where odometry can be:
- fake:       Fake odometry using /ground_truth_odom from /gazebo
- controller: Odometry from walking controller data + IMU
-->
<launch>
  <arg name="odometry" default="controller"/>

  <include file="$(find reemc_gazebo)/launch/reemc_odometry_$(arg odometry).launch" />
</launch>

