<launch>
  <include file="$(find reemc_utils)/launch/simple_world.launch"/>

  <!-- Spawn ReemC on the simulator-->
  <include file="$(find reemc_utils)/launch/reemc_no_controllers.launch">
     <arg name="gzpose" value="-x 2 -y 2 -z 0 -R 0 -P 0 -Y 3.1415"/>
  </include>


  <include file="$(find reemc_utils)/launch/reemc_bringup.launch"/>

   <!-- Default Controllers -->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_pal_controllers.launch" />

</launch>
