<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the ReemC -->
  <include file="$(find reemc_utils)/launch/reemc_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find reemc_utils)/launch/reemc_bringup.launch"/>

   <!-- Default Controllers -->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_drcsim_controllers.launch" />

  <include file="$(find reemc_utils)/launch/joint_state.launch"/>

  <node name="move_joints_node" pkg="reemc_joints" type="move_joints"/>

</launch>
