<launch>

  <!-- Use sim time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find reemc_description)/model.urdf"/>

  <!-- joint states to tf -->
  <node pkg="robot_state_publisher" type="state_publisher" name="reemc_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/reemc/joint_states" />
  </node>

 <!-- Fake Calibration 
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />
-->
  <!-- Controller Manager 
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
-->
</launch>
