<launch>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find reemc_description)/model.urdf"/>

  <param name="/use_sim_time" type="bool" value="true"/>
  
  <arg name="gzpose"  default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gzmodel" default="reemc/reemc.sdf"/>
  <arg name="gzworld" default="reemc.world"/>
  <!-- start gazebo with the Reem-C -->
  <!--<node name="gazebo" pkg="reemc_utils" type="run_gazebo" args="$(find reemc_utils)/worlds/$(arg gzworld) $(arg gzpose)" output="screen" />-->
  
  <node name="gzfactory" pkg="reemc_utils" type="run_gzfactory" args="spawn -f $(find reemc_utils)/models/$(arg gzmodel) $(arg gzpose)" output="screen" />
  <!--<node name="gzfactory" pkg="reemc_utils" type="run_gzfactory" args="spawn -f $(find reemc_description)/model.urdf $(arg gzpose)" output="screen" />-->

</launch>
